* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  background: linear-gradient(to right, #202020, #282828);
  color: white;
  margin: 10px 0 50px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

header .title {
  font-size: 22px;
  font-weight: 600;
}

header .fa-bars, .fa-moon {
  margin: 0 5px;
  font-size: 22px;
}

.container-about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 50px;
}

.container-about-me .title {
  font-size: 25px;
  color: #73f391;
}

.container-about-me .text {
  font-size: 18px;
  font-weight: 500;
}

.container-about-me .s-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: 10px solid #73f391;
  border-radius: 50%;
  margin: 10px;
}

.container-about-me .image {
  width: 70px;
  height: 70px;
  padding: 5px;
  border: 5px solid #fff;
  border-radius: 50%;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15px;
}

.projects-container .title-child {
  font-size: 16px;
}

.projects-container .d-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.projects-container .child-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 160px;
  background: linear-gradient(to left, #232323, #282828);
  border-radius: 14px;
  box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.1);
  margin: 10px 5px;
}

/* Temporário */
.projects-container .child-container span {
  font-size: 15px;
  font-weight: 600;
  opacity: 80%;
}

.container-networks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-networks .title {
  font-weight: 600;
  font-size: 16px;
}

.container-networks .fa-item {
  font-size: 20px;
  margin: 5px 3px;
}

footer section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0 20px;
}

footer .copyright-text {
  font-size: 12px;
  font-weight: 600;
  opacity: 70%;
}

/* Media querie */
@media (max-width: 320px) {
  header .title {
    font-size: 17px;
  }
  
  header .fa-moon {
    font-size: 17px;
  }
  
  header .fa-bars {
    font-size: 17px
  }
  
  .container-about-me {
    padding: 5px 50px;
  }
  
  .container-about-me .text {
    font-size: 16px;
  }
  
  .projects-container .title-child {
    font-size: 14px;
  }
  
  .projects-container .child-container {
    width: 115px;
    height: 145px;
  }
  
  .container-networks .title {
    font-size: 14px;
  }
  
  .container-networks .fa-item {
    font-size: 16px;
  }
  
  footer {
    position: absolute;
  }
  
  footer .copyright-text {
    font-size: 10px;
  }
}

footer {
  display: none;
  position: absolute;
  padding: 1rem;
  bottom: 0;
  width: 100%;
}